{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["react"],
  "parser": "babel-eslint"
}
